---
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

select {
    width: 100% !important;
    background-color: #252a34 !important;
}
.masthead {
    background-color: #252a34;
}
html {
    background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url("/assets/background.jpg");
    background-size: cover;
    background-position: center;
}
form {
    background-color: rgba(31, 36, 44, 0.8);
}
